*{
    padding: 0;
    margin: 0;
}
div{
    width: 50px;
    height: 50px;
    position: absolute;
}
#div1{
    background-color: red;
}
#div2{
    background-color: green;
}
#div3{
    background-color: blue;
}